body {
  box-sizing: border-box;
  margin:0;
  background: #ff9966;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*
<header class="header-sitio">
  <h1>  
  <nav>
*/
.header-sitio {
  border: 1px solid black;
  background-color: #03A9F4;
  padding:0 20px;
  /* Flex aqui*/
  display: flex;
  /*para tamaños menores a 768 se muestra en columna*/
  flex-direction: column;
}


@media screen and (min-width:768px) {
  .header-sitio {
    /*si es >768 se muestra como fila*/
    flex-direction: row;
    justify-content: space-between;
  }
}

.header-sitio h1 {
  color:white;
}

nav {
  /*esto hace que el navbar se ponga a la altura del h1*/
  align-self: center;
}

nav a {
  color: white; 
  font-family: 'IBM Plex Serif', serif;
  text-decoration: none;
}

.contenedor {
  background-color: white;
  min-height: calc( 100vh - 20px );
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 30px 0 30px;
}
h1, h2 {
  text-align: center;
  font-family: 'IBM Plex Serif', serif;
}
h2 {
  color:white;
}

/*
<main class="contenedor-flex">
  <principal>
  <aside>
*/
.contenedor-flex {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  
}

@media screen and (min-width:768px) { 
  .contenedor-flex {
    flex-direction: row; 
  }
}

.principal {
  order: 2; /*la caja de los servicios por defecto al final*/
}
aside {

}

aside {
  background-color: #03A9F4;
  margin-bottom: 1rem;
}


@media screen and (min-width:768px) {
  .principal {
    /*no quiero que crezca pero si shrink con un min de 60%*/
    flex:0 1 60%;
    margin-right: 20px;
    order: unset; /*la caja de los servicios si cabe al prinpicpio*/
  }
  aside {
    /*el aside crecerá (flex grow) y tomará el espacio restante*/
    flex:1;
  }
}

/*
<div class="servicios">
  <servicio n>
*/
.servicios {
  display: flex;
  flex-direction: column;
}
/*<servicio n>*/
.servicios .servicio {
  
}
@media screen and (min-width:768px) {
  .servicios {
    display: flex;
    flex-direction: row;
  }

  .servicios .servicio {
      flex:1 /*hace que ocupe toda la fila*/
  }
}

.servicio {
  padding: 5px;
  background-color: #E53935;
}


.servicio:nth-child(2) {
  background-color: #8E24AA;
}

.servicio:nth-child(3) {
  background-color: #3F51B5;
}

footer {
  height: 100px;
  background-color: #8E24AA;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: white;
  
}