body {
  box-sizing: border-box; /*el borde forma parte del contenido*/
  margin:0;
  background: #ff9966;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*div-contenedor*/
.contenedor {
  
  background-color: white;
  height: calc( 100vh - 20px ); /*la altura de viewport - 20px*/
  max-width: 1000px;
  margin: 0 auto; /*top, right, bottom, left*/
  padding: 20px 30px 0 30px; /*se deja 20 de padding superior pq se resta -20px a la altura*/
}
.contenedor:hover{
  /*border:1px solid greenyellow;*/
}

/*fuentes y alineacion de h1:h2
h1: Aprendiendo flexbox
*/
h1, h2 {
  text-align: center;
  font-family: 'IBM Plex Serif', serif;
}

/*
servicio1  servicio 2 servicio 3
*/
h2 {
  color:white;
}

/*div fila y/o columna*/
.contenedor-flex {
  display: flex; /*es el más común. el div se extiende por todo el ancho*/
  /* display: inline-flex; /*el div hace wrap sobre el contenido*/
  border: 3px solid black;
}

/*todos los elementos con padding 10 y color rojo*/
.elemento-flex {
  padding: 10px;
  background-color: #E53935;
}

/*al segundo elemento se le cambia el color*/
.elemento-flex:nth-child(2) {
  background-color: #8E24AA;
}

/*solo cambio de color*/
.elemento-flex:nth-child(3) {
  background-color: #3F51B5;
}