body {
  /*cuando agregemos padding no afecte el ancho de nuestros elementos*/
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.contenedor{
  max-width: 1100px;
  margin: 0 auto;
}

/*todas las imagenes*/
img {
  /* son responsivas */
  max-width: 100%;
}

h2 {
  flex:0 1 100%;/*para que no crezca*/
  /*border: 1px solid red;*/
  text-align: center; /*
  este elmento ocupa toda la linea y con align-center se centra
  centrar título
  */
  font-size: 1.6rem;
}
h3 {
  font-family: "Libre Baskerville", serif;
  margin:0;
  font-weight: 700;
}

@media screen and (min-width:480px){
  /*
  <main class="contenido-principal">
    <h2>
    <article>
  */
  .contenido-principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*align-items: center;**/
  }
  /*
  <article>
    <img>
    <div>
  */
  .entrada {
    /*
    a cada article se le configura un ancho de 50 - 1rem 
    si no pusiera 1rem no se mostraría padding
    se mostrarán 2 cajas 
    */
    flex: 0 1 calc(50% - 1rem);
  }

}/*media 480*/

@media screen and (min-width:768px){

  .entrada {
    /*
    esto hace que se muestren 3 cajas
    */
    flex: 0 1 calc(33% - 1rem);
  }

}/*media 768px*/

/*
<article>
  <div.contenido>
    h3
    p
    a
*/
.contenido {
  background-color: #fff;
  margin-bottom: 1rem;
  padding:1rem;
  text-transform: uppercase; /*a mayúsculas*/
  text-align: center; /*
  centra los elementos
   h3,p y a
  */
}

.contenido h3{
  text-align: center; /*se centra el título*/
  font-size: .9rem;
  line-height: 1.4rem; /*altura de la linea del texto*/
}

.contenido span{
  color: #db008d
}

/*
<a>Leer más<a/>
*/
.boton {
  background-color: #008fd1;
  color: #fff;
  padding: .8rem 3rem;
  margin-top: 1rem; 
  /*
  esta separación no funciona por si sola ya que los <a> usan por defecto el display:inline
  si lo dejo como block ocuparía toda la fila y el texto no estaria centrado
  como inline-block emularia a un bloque de texto en una linea
  */
  display: inline-block;
  text-decoration: none; /*quito el subrayado*/
  align-self: center;
}
